/* TODO: Add sitewide styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

.mouse{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.error {
    color: brown;
    min-height: 30px;
    font-style: italic;
    font-size: 14px;
}

.events-container {
    display: flex;
    gap: 10px;
    width: 80%;
    height: 20em;
    margin-top: 1em;
}


.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    min-width: 400px;
}

.margin-top {
    margin-top: 3em;
}

.thumbnails-noname {
    width: 120px;
    height: 120px;
    border: 2px solid var(--minimal-border);
    border-radius: 6px;
}

.event-flyer {
    width: 25em;
}

/* navigation */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: aliceblue;
    position: relative;
}

.margin-left {
    margin-left: 60px;
}

.margin-right {
    margin-right: 60px;
}

.nav-bar:hover .profile-dropdown {
    display: block;
    height: 80px;
    transition: height 1s ease-in-out;
}

.ticket-icon {
    font-size: larger
}

.profile-button {
    display: flex;
    align-items: center;
}


/* homepage */
.upcoming-events {
    height: 16em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.upcoming-events h1 {
    font-size: 3em;
    letter-spacing: 10px;

}

.day-month {
    background-color: aliceblue;
    height: 4em;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-month p {
    margin: 0;
}

.event-title {
    font-size: 2em;
    font-weight: 600;
}

.title-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-date p {
    margin: 0;
}

.home-page {
    margin: 4em 4em 0 4em;
}

/* event page */
.image-flyer {
    width: 50%;
    min-width: 50%;
}

.event-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    min-width: 100%;
}


.event-display {
    display: flex;
    margin: 4em 0;
    height: 40em;
    max-height: 40em;
}

.event-display h1 {
    font-size: 4em;
    letter-spacing: 10px;
}

.event-time {
    display: flex;
}

.event-background {
    margin: 0 4em 4em 4em;
}

.event-display-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    gap: 1em;
}

.event-button {
    background-color: #74ffff;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 14px;
    letter-spacing: 1.5px;
    margin-top: 1em;
    color: #2a2a2a;
}
.event-top{
    margin-top: 3em;
}

/* form background */
.form-background {
    background: linear-gradient(-45deg, #ff9c56, #ffd27e, #ffda6c, #ff4171);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
}

.payment-form-background {
    background: linear-gradient(-45deg, #ff9c56, #ffd27e, #ffda6c, #ff4171);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-title {
    font-size: 6em;
    color: white;
    text-shadow: 0.5px 0.5px 1px #ff4171;
}

.form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 4em;
    margin: auto;
    padding: 2em 0;
}

.form {
    width: 100%;
}

.form-container h1 {
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    border: none;
    height: 46px;
    padding: 0 10px;
    background-color: #74ffff37;
    border-radius: 8px;
}

select {
    width: 100%;
    border: none;
    height: 40px;
    padding: 0 10px;
    background-color: #74ffff37;
    border-radius: 8px;
}

label {
    color: #2a2a2a;
    letter-spacing: 1.5px;
}

.form-button {
    background-color: #74ffff;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 14px;
    letter-spacing: 1.5px;
    margin-top: 1em;
    color: #2a2a2a;
}

.log-button-container{
    display: flex;
    justify-content: space-between;
}
.log-button{
    background-color: #74ffff;
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 14px;
    letter-spacing: 1.5px;
    margin-top: 1em;
    color: #2a2a2a;
}

input::file-selector-button {
    background-color: #74ffff;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 14px;
    letter-spacing: 1.5px;
    margin-top: 1em;
    color: #2a2a2a;
}


/* profile page */
.profile-page-icons {
    font-size: 16em;
}

.profile-icons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.profile-page-icons:hover {
    color: #00d3d3;
    transition: color 0.6s ease-in-out;
}

.icon-tooltip {
    font-size: larger;
    visibility: hidden;
}

.real-container {
    display: flex;
}

.real-container:hover .icon-tooltip {
    visibility: visible;
    transition: color 0.6s ease-in-out;
    color: #00d3d3;
    transition: color 0.6s ease-in-out;
}

.icon-coming-soon {
    font-size: 16em;
    color: rgb(201, 201, 201);
}

/* payment options */
.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 4em;
    margin: auto;
}

.cards-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.payment-icon {
    font-size: 10em;
    display: flex;
    align-items: center;

}

.side {
    display: flex;
    align-items: center;
    width: 100%;
}

.pay-button{
    background-color: #74ffff;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 14px;
    letter-spacing: 1.5px;
    margin-top: 1em;
    color: #2a2a2a;
    padding: 0 1em;
}
