.profile-dropdown {
  margin-top: 10px;
  position: absolute;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding-left: 3.8em;
  align-items: center;
  height: 30em;
  width: 100%;
  z-index: 1;
  top: 100;
  left: 0;
  background-color: white;
}


.mail-side {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.profile-dropdown>p,
div>p {
  color: #4B4B4B;
}
