.profile-dropdown {
  margin-top: 10px;
  position: absolute;
  /* display: none; */
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  padding-left: 3.8em;
  align-items: center;
  height: 80px;
  background-color: aliceblue;
  width: 100%;
  z-index: 1;
  top: 100;
  left: 0;
}
